html {
    box-sizing: border-box;
    height: 100%;
    font-family: "Pangolin", sans-serif;
    color: #41644a;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

#content {
    height: 100%;

    background-image: url("./food_2.jpg");
    background-size: cover;
}

/* STARTING PAGE + NAVBAR */

nav {
    height: 10%;
    /* background-color: rgba(255, 255, 255, 0.9); */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-element {
    width: 15rem;
    height: 5rem;
    font-size: 2.2rem;
    line-height: 2.2;
    border: 2px solid orange;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;

    color: orange;
}

.nav-element:hover {
    box-shadow: 0 0 0 3px orange;
}

.nav-clicked {
    box-shadow: 0 0 0 3px orange;
    background: rgba(255, 166, 0, 0.171);
}

/* HOMEPAGE */

.about-page {
    height: 90%;
    padding: 6rem 35rem;

    display: flex;
    flex-direction: column;
}

.about-page div:first-child {
    flex: 1;
}

.about-page div:last-child {
    flex: 6;
}

.about-page h1 {
    font-size: 4.5rem;
    text-align: center;
    color: orange;
}

.about-page p {
    font-size: 2.6rem;
    line-height: 1.6;
}

span {
    color: orange;
}

.team-image {
    position: absolute;
    width: 40%;
    bottom: 6rem;
    left: 48rem;
    border-radius: 2rem;
    opacity: 0.95;
}

/* MENUPAGE */

.menu-page {
    height: 90%;
    padding: 5rem 30rem;

    display: flex;
    gap: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.food-category {
    width: 20rem;
    height: 25rem;

    padding: 4rem;
    border-radius: 0.5rem;
    border: 2px solid #41644a2d;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.137);
}

.food-category h1 {
    margin-bottom: 2rem;
    color: orange;
}

ul {
    text-align: left;
    font-size: 1.4rem;
}

li {
    margin-bottom: 1rem;
}

/* CONTACTS */

.contacts-page {
    height: 90%;
    padding: 5rem 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.manager-contacts,
.owner-contacts {
    width: 30rem;
    padding: 2rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6;
}

.manager-contacts h1,
.owner-contacts h1 {
    margin-bottom: 1.5rem;
    color: orange;
}

.manager-contacts p,
.owner-contacts p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
