*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#content {
    height: 100%;

    color: red;
    background-image: url("./food.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
